In [259]:
import pandas as pd
import os

# Dictionary to store DataFrames by exchange
exchange_data = {}

# Walk through the directory structure
for root, dirs, files in os.walk('.'):
    # Get the exchange name from the subdirectory
    exchange = os.path.basename(root)
    
    # Skip the root directory itself
    if exchange == '.':
        continue
        
    for file in files:
        # Check for both Excel and CSV files
        if file.endswith(('.xlsx', '.xls', '.csv')):
            file_path = os.path.join(root, file)
            try:
                # Read file based on extension
                if file.endswith('.csv'):
                    df = pd.read_csv(file_path)
                else:
                    df = pd.read_excel(file_path)
                    
                if exchange not in exchange_data:
                    exchange_data[exchange] = []
                exchange_data[exchange].append(df)
                print(f"Successfully read: {file_path}")
            except Exception as e:
                print(f"Error reading {file_path}: {e}")

# Combine DataFrames for each exchange
for exchange in exchange_data:
    if exchange_data[exchange]:
        exchange_data[exchange] = pd.concat(exchange_data[exchange], ignore_index=True)
        print(f"\nExchange: {exchange}")
        print(f"Combined shape: {exchange_data[exchange].shape}")

c:\Users\chan1\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\chan1\AppData\Local\Programs\Python\Python313\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Successfully read: .\history\binance_future\Binance_Future_Trade.xlsx
Successfully read: .\history\binance_spot\Binance_Spot.xlsx
Successfully read: .\history\bithumb\bithumb.xlsx
Successfully read: .\history\bybit\Bybit-UM-TransactionLog.csv
Successfully read: .\history\upbit\upbit_trade.xlsx

Exchange: binance_future
Combined shape: (199, 10)

Exchange: binance_spot
Combined shape: (229, 10)

Exchange: bithumb
Combined shape: (679, 8)

Exchange: bybit
Combined shape: (8939, 14)

Exchange: upbit
Combined shape: (226, 10)

In [260]:
exchange_data.keys()

dict_keys(['binance_future', 'binance_spot', 'bithumb', 'bybit', 'upbit'])

In [261]:
bithumb_df = exchange_data['bithumb']
bithumb_df.columns = bithumb_df.iloc[1]
bithumb_df = bithumb_df.drop([0, 1])
bithumb_df.columns.name = ''
bithumb_df

,거래일시,자산,거래구분,거래수량,체결가격,거래금액,수수료,정산금액
2,2024-12-17 16:02:03,솔라나,외부입금,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
3,2024-12-17 16:02:03,솔라나,외부입금,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
4,2024-12-17 16:02:03,솔라나,외부입금,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
5,2024-12-17 16:02:03,솔라나,외부입금,0.00001000 SOL,-,0.00001000 SOL,- SOL,+0.00001000 SOL
6,2024-12-17 13:34:08,모카버스,매도,24.00000000 MOCA,218 KRW,"5,232 KRW",2.09 KRW,"+5,230 KRW"
...,...,...,...,...,...,...,...,...
674,2024-11-19 15:50:08,솔라나,외부입금,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
675,2024-11-19 15:50:08,솔라나,외부입금,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
676,2024-11-19 15:18:02,폰케,외부입금,"8,989.00000000 PONKE",-,"8,989.00000000 PONKE",- PONKE,"+8,989.00000000 PONKE"
677,2024-11-19 01:10:49,포인트,메이커 리워드,547.00000000 P,-,547.00000000 P,- P,+547.00000000 P
678,2024-11-19 00:43:27,포인트,거래 포인트,274.00000000 P,-,274.00000000 P,- P,+274.00000000 P

In [262]:
binance_spot_df = exchange_data['binance_spot']
binance_future_df = exchange_data['binance_future']
upbit_df = exchange_data['upbit']
bybit_df = exchange_data['bybit']

In [263]:
for key, val in exchange_data.items():
    print(val.columns)

Index(['Date(UTC)', 'Symbol', 'Side', 'Price', 'Quantity', 'Amount', 'Fee',
       'Fee Coin', 'Realized Profit', 'Quote Asset'],
      dtype='object')
Index(['Date(UTC)', 'Pair', 'Base Asset', 'Quote Asset', 'Type', 'Price',
       'Amount', 'Total', 'Fee', 'Fee Coin'],
      dtype='object')
Index(['거래일시', '자산', '거래구분', '거래수량', '체결가격', '거래금액', '수수료', '정산금액'], dtype='object', name='')
Index(['Currency', 'Contract', 'Type', 'Direction', 'Quantity', 'Position',
       'Filled Price', 'Funding', 'Fee Paid', 'Cash Flow', 'Change',
       'Wallet Balance', 'Action', 'Time'],
      dtype='object')
Index(['체결시간', '코인', '마켓', '종류', '거래수량', '거래단가', '거래금액', '수수료', '정산금액',
       '주문시간'],
      dtype='object')

In [264]:
['Date(UTC)', 'Symbol', 'Side', 'Price', 'Quantity', 'Amount', 'Fee', 'Fee Coin', 'Realized Profit', 'Quote Asset'],
['Date(UTC)', 'Pair', 'Base Asset', 'Quote Asset', 'Type', 'Price', 'Amount', 'Total', 'Fee', 'Fee Coin']
['거래일시', '자산', '거래구분', '거래수량', '체결가격', '거래금액', '수수료', '정산금액']
['Currency', 'Contract', 'Type', 'Direction', 'Quantity', 'Position',
  'Filled Price', 'Funding', 'Fee Paid', 'Cash Flow', 'Change', 'Wallet Balance', 'Action', 'Time']

['Currency',
 'Contract',
 'Type',
 'Direction',
 'Quantity',
 'Position',
 'Filled Price',
 'Funding',
 'Fee Paid',
 'Cash Flow',
 'Change',
 'Wallet Balance',
 'Action',
 'Time']

In [265]:
display(binance_spot_df.head(1))
display(binance_future_df.iloc[40:70])

,Date(UTC),Pair,Base Asset,Quote Asset,Type,Price,Amount,Total,Fee,Fee Coin
0,2024-12-17 15:01:04,PENGU/USDT,PENGU,USDT,SELL,0.041562,312.0,12.967344,0.000013,BNB

,Date(UTC),Symbol,Side,Price,Quantity,Amount,Fee,Fee Coin,Realized Profit,Quote Asset
40,2024-12-17 01:25:04,VANAUSDT,BUY,23.875,0.44,10.50500,0.005253,USDT,0.937307,USDT
41,2024-12-17 01:24:29,VANAUSDT,BUY,24.552,6.11,150.01272,0.075006,USDT,8.879314,USDT
42,2024-12-17 01:24:29,VANAUSDT,BUY,24.552,1.91,46.89432,0.023447,USDT,2.775694,USDT
43,2024-12-17 01:24:29,VANAUSDT,BUY,24.547,0.43,10.55521,0.005278,USDT,0.627044,USDT
44,2024-12-17 01:24:29,VANAUSDT,BUY,24.547,0.78,19.14666,0.009573,USDT,1.137429,USDT
45,2024-12-17 01:24:29,VANAUSDT,BUY,24.545,0.43,10.55435,0.005277,USDT,0.627904,USDT
46,2024-12-17 01:24:29,VANAUSDT,BUY,24.544,0.54,13.25376,0.006627,USDT,0.789071,USDT
47,2024-12-17 01:24:29,VANAUSDT,BUY,24.543,1.08,26.50644,0.013253,USDT,1.579222,USDT
48,2024-12-17 01:24:29,VANAUSDT,BUY,24.542,9.55,234.37610,0.117188,USDT,13.973969,USDT
49,2024-12-17 01:24:29,VANAUSDT,BUY,24.542,15.42,378.43764,0.189219,USDT,22.563205,USDT
50,2024-12-17 01:24:29,VANAUSDT,BUY,24.542,2.71,66.50882,0.033254,USDT,3.965388,USDT
51,2024-12-17 01:24:29,VANAUSDT,BUY,24.542,10.19,250.08298,0.125041,USDT,14.910445,USDT
52,2024-12-17 01:24:29,VANAUSDT,BUY,24.542,13.28,325.91776,0.162959,USDT,19.431865,USDT
53,2024-12-17 01:24:29,VANAUSDT,BUY,24.541,28.94,710.21654,0.355108,USDT,42.375188,USDT
54,2024-12-17 01:24:29,VANAUSDT,BUY,24.520,2.34,57.37680,0.028688,USDT,3.475468,USDT
55,2024-12-17 01:24:29,VANAUSDT,BUY,24.520,1.07,26.23640,0.013118,USDT,1.589210,USDT
56,2024-12-17 01:24:29,VANAUSDT,BUY,24.520,1.24,30.40480,0.015202,USDT,1.841701,USDT
57,2024-12-17 01:24:29,VANAUSDT,BUY,24.520,0.72,17.65440,0.008827,USDT,1.069375,USDT
58,2024-12-17 01:24:29,VANAUSDT,BUY,24.520,2.40,58.84800,0.029424,USDT,3.564583,USDT
59,2024-12-17 01:24:29,VANAUSDT,BUY,24.520,0.86,21.08720,0.010544,USDT,1.277309,USDT
60,2024-12-17 01:21:38,VANAUSDT,SELL,25.981,100.00,2598.10000,0.519620,USDT,0.000000,USDT
61,2024-12-17 01:21:01,VANAUSDT,SELL,26.121,100.00,2612.10000,0.522420,USDT,0.000000,USDT
62,2024-12-17 01:19:17,VANAUSDT,SELL,25.918,100.00,2591.80000,0.518360,USDT,0.000000,USDT
63,2024-12-17 01:19:08,VANAUSDT,SELL,26.000,2.86,74.36000,0.037180,USDT,0.000000,USDT
64,2024-12-17 01:19:08,VANAUSDT,SELL,26.001,97.14,2525.73714,1.262869,USDT,0.000000,USDT
65,2024-12-17 01:16:12,VANAUSDT,BUY,25.452,1025.92,26111.71584,13.055858,USDT,1065.236548,USDT
66,2024-12-17 01:13:31,VANAUSDT,SELL,25.131,100.00,2513.10000,0.502620,USDT,0.000000,USDT
67,2024-12-17 01:09:25,VANAUSDT,BUY,24.666,88.64,2186.39424,0.437279,USDT,174.721057,USDT
68,2024-12-17 01:09:25,VANAUSDT,BUY,24.666,11.36,280.20576,0.056041,USDT,22.392049,USDT
69,2024-12-17 01:07:00,VANAUSDT,SELL,24.787,200.00,4957.40000,0.991480,USDT,0.000000,USDT

In [266]:
24.787 * 200

4957.4

In [267]:
binance_future_columns = {
    'Date(UTC)': 'date',
    'Symbol': 'symbol',
    'Side': 'side',
    'Price': 'price',
    'Quantity': 'amount',
    'Amount': 'total',
    'Fee': 'fee',
    'Fee Coin': 'fee_coin',
    'Realized Profit': 'profit',
    'Quote Asset': 'quote'
}

In [268]:
binance_future_df = binance_future_df.rename(columns=binance_future_columns)

In [269]:
def split_by_symbol_and_side(df):
    """Split dataframe by symbol and trading side (BUY/SELL)"""
    symbols = df['symbol'].unique()
    symbol_dfs = {}
    
    for symbol in symbols:
        symbol_df = df[df['symbol'] == symbol]
        
        # Split each symbol's data by side (BUY/SELL)
        buy_df = symbol_df[symbol_df['side'] == 'BUY']
        sell_df = symbol_df[symbol_df['side'] == 'SELL']
        
        symbol_dfs[symbol] = {
            'buy': buy_df,
            'sell': sell_df
        }
    return symbol_dfs

def calculate_profits(symbol_dfs):
    """Calculate profits for each symbol including fees"""
    profits = {}
    for symbol in symbol_dfs.keys():
        buy_total = symbol_dfs[symbol]['buy']['total'].sum()
        sell_total = symbol_dfs[symbol]['sell']['total'].sum()
        
        # Profit is sell amount minus buy amount
        profit = sell_total - buy_total
        
        # Add fees
        buy_fees = symbol_dfs[symbol]['buy']['fee'].sum()
        sell_fees = symbol_dfs[symbol]['sell']['fee'].sum()
        total_fees = buy_fees + sell_fees
        
        # Subtract fees from profit
        net_profit = profit - total_fees
        
        profits[symbol] = net_profit
    return profits

# Process the data
symbol_dfs = split_by_symbol_and_side(binance_future_df)
profits = calculate_profits(symbol_dfs)

def print_trading_results(profits):
    """Print trading results in a formatted way"""
    print("\nTrading Results:")
    print("-" * 50)
    total_profit = 0
    
    for symbol, profit in profits.items():
        # Convert np.float64 to regular float
        profit_float = float(profit)
        total_profit += profit_float
        print(f"{symbol}: {profit_float:.2f} USDT")
    
    print("-" * 50)
    print(f"Total Profit: {total_profit:.2f} USDT")

# Print the results
print_trading_results(profits)

Trading Results:
--------------------------------------------------
VANAUSDT: 3582.02 USDT
BTCUSDT: 0.77 USDT
--------------------------------------------------
Total Profit: 3582.79 USDT

In [270]:
binance_future_df.head()
binance_spot_df.head()

,Date(UTC),Pair,Base Asset,Quote Asset,Type,Price,Amount,Total,Fee,Fee Coin
0,2024-12-17 15:01:04,PENGU/USDT,PENGU,USDT,SELL,0.041562,312.00,12.967344,0.000013,BNB
1,2024-12-17 15:01:04,PENGU/USDT,PENGU,USDT,SELL,0.041562,1405.00,58.394610,0.000060,BNB
2,2024-12-17 10:08:58,BNB/USDT,BNB,USDT,BUY,721.390000,0.06,43.283400,0.000045,BNB
3,2024-12-17 10:08:06,1000CAT/USDT,1000CAT,USDT,SELL,0.059700,736.20,43.951140,0.043951,USDT
4,2024-12-17 00:03:00,VANA/USDT,VANA,USDT,BUY,33.924000,29.44,998.722560,0.029440,VANA

In [271]:
binance_spot_columns = {
    'Date(UTC)': 'date',
    'Pair': 'symbol',
    'Base Asset': 'base',
    'Quote Asset': 'quote',
    'Type': 'side',
    'Price': 'price',
    'Amount': 'amount',
    'Total': 'total',
    'Fee': 'fee',
    'Fee Coin': 'fee_coin'
}

binance_spot_df = binance_spot_df.rename(columns=binance_spot_columns)

In [272]:
binance_spot_df
def split_spot_by_symbol_and_side(df):
    """Split spot trading data by symbol and trading side"""
    symbol_dfs = {}
    
    # Convert 'SELL' and 'BUY' to lowercase to match futures format
    df['side'] = df['side'].str.lower()
    
    for symbol in df['symbol'].unique():
        symbol_data = df[df['symbol'] == symbol]
        
        # Initialize dictionary for this symbol
        symbol_dfs[symbol] = {
            'buy': pd.DataFrame(),
            'sell': pd.DataFrame()
        }
        
        # Split by side
        for side in ['buy', 'sell']:
            side_data = symbol_data[symbol_data['side'] == side].copy()
            if not side_data.empty:
                # Calculate total amount in USDT
                side_data['total_amount'] = side_data['total']
                symbol_dfs[symbol][side] = side_data

    return symbol_dfs

def calculate_spot_profits(symbol_dfs):
    """Calculate profits for spot trading data"""
    profits = {}
    
    for symbol, sides in symbol_dfs.items():
        # Skip if either buy or sell is empty
        if sides['buy'].empty or sides['sell'].empty:
            continue
            
        # Calculate total buy and sell amounts in USDT
        total_buy = sides['buy']['total_amount'].sum()
        total_sell = sides['sell']['total_amount'].sum()
        
        # Calculate profit
        profit = total_sell - total_buy
        
        # Store profit if non-zero
        if abs(profit) > 1e-10:  # Use small threshold to handle floating point errors
            profits[symbol] = profit
            
    return profits

# Split spot data and calculate profits
spot_symbol_dfs = split_spot_by_symbol_and_side(binance_spot_df)
spot_profits = calculate_spot_profits(spot_symbol_dfs)

# Print spot trading results
print("\nSpot Trading Results:")
print_trading_results(spot_profits)

Spot Trading Results:

Trading Results:
--------------------------------------------------
BNB/USDT: -35236.65 USDT
VANA/USDT: -22141.59 USDT
USUAL/USDT: -4861.86 USDT
--------------------------------------------------
Total Profit: -62240.10 USDT

In [273]:
binance_future_df.columns

Index(['date', 'symbol', 'side', 'price', 'amount', 'total', 'fee', 'fee_coin',
       'profit', 'quote'],
      dtype='object')

In [274]:
upbit_df[upbit_df['종류'] == '입금'].head()

,체결시간,코인,마켓,종류,거래수량,거래단가,거래금액,수수료,정산금액,주문시간
19,2024.12.17 09:11,VANA,-,입금,430.09847000VANA,0KRW,0KRW,0VANA,430.09847000VANA,-
22,2024.12.17 00:22,VANA,-,입금,157.99900000VANA,0KRW,0KRW,0VANA,157.99900000VANA,-
23,2024.12.16 23:20,VANA,-,입금,155.31129555VANA,0KRW,0KRW,0VANA,155.31129555VANA,-
45,2024.12.16 15:11,MOCA,-,입금,"34,023.75545150MOCA",297.4KRW,"10,118,665KRW",0MOCA,"34,023.75545150MOCA",-
51,2024.12.16 14:50,MOCA,-,입금,"16,979.23750050MOCA",337.1KRW,"5,723,701KRW",0MOCA,"16,979.23750050MOCA",-

In [275]:
binance_future_df.head(1)

,date,symbol,side,price,amount,total,fee,fee_coin,profit,quote
0,2024-12-17 01:26:18,VANAUSDT,BUY,24.33,2.36,57.4188,0.028709,USDT,3.953573,USDT

In [276]:
# Map Korean transaction types to English
side_map = {
    '출금': 'withdrawal',
    '매도': 'sell', 
    '매수': 'buy',
    '입금': 'deposit'
}

upbit_df['종류'] = upbit_df['종류'].map(side_map)

In [277]:
upbit_columns = {
    '체결시간': 'time',
    '코인': 'symbol',
    '마켓': 'market',
    '종류': 'side',
    '거래수량': 'amount',
    '거래단가': 'price',
    '거래금액': 'total',
    '수수료': 'fee',
    '정산금액': 'settlement',
    '주문시간': 'order_time'
}
upbit_df = upbit_df.rename(columns=upbit_columns)
upbit_df

,time,symbol,market,side,amount,price,total,fee,settlement,order_time
0,2024.12.17 11:00,KRW,-,withdrawal,"31,571,102KRW",0KRW,"31,571,102KRW","1,000.00KRW","31,572,102KRW",-
1,2024.12.17 10:24,VANA,KRW,sell,50.00000000VANA,"38,730KRW","1,936,500KRW",968.25KRW,"1,935,531KRW",2024.12.17 10:24
2,2024.12.17 10:23,VANA,KRW,sell,25.00000000VANA,"42,100KRW","1,052,500KRW",526.25KRW,"1,051,973KRW",2024.12.17 10:23
3,2024.12.17 10:22,VANA,KRW,sell,25.00000000VANA,"43,000KRW","1,075,000KRW",537.50KRW,"1,074,462KRW",2024.12.17 10:22
4,2024.12.17 10:19,VANA,KRW,sell,163.38956291VANA,"42,470KRW","6,939,154KRW","3,469.57KRW","6,935,685KRW",2024.12.17 10:19
...,...,...,...,...,...,...,...,...,...,...
221,2024.07.16 14:43,USDT,KRW,buy,272.53778400USDT,"1,399KRW","381,281KRW",190.64KRW,"381,471KRW",2024.06.12 01:25
222,2024.06.27 00:59,BLAST,KRW,sell,200.00000000BLAST,29.79KRW,"5,958KRW",2.97KRW,"5,955KRW",2024.06.27 00:59
223,2024.06.26 19:06,BLAST,-,deposit,200.00000000BLAST,0KRW,0KRW,0BLAST,200.00000000BLAST,-
224,2024.06.25 14:38,CHR,-,deposit,17.00000000CHR,309.6KRW,"5,263KRW",0CHR,17.00000000CHR,-
225,2024.06.20 22:16,APT,-,withdrawal,99.00000000APT,"9,746KRW","964,854KRW",0.00540000APT,99.00540000APT,-

In [278]:
# Remove currency symbols and keep only numbers
for col in ['amount', 'price', 'total', 'fee', 'settlement']:
    upbit_df[col] = upbit_df[col].str.replace(",", "").str.extract(r'([\d,.]+)').astype(float)

upbit_df

,time,symbol,market,side,amount,price,total,fee,settlement,order_time
0,2024.12.17 11:00,KRW,-,withdrawal,3.157110e+07,0.00,31571102.0,1000.0000,3.157210e+07,-
1,2024.12.17 10:24,VANA,KRW,sell,5.000000e+01,38730.00,1936500.0,968.2500,1.935531e+06,2024.12.17 10:24
2,2024.12.17 10:23,VANA,KRW,sell,2.500000e+01,42100.00,1052500.0,526.2500,1.051973e+06,2024.12.17 10:23
3,2024.12.17 10:22,VANA,KRW,sell,2.500000e+01,43000.00,1075000.0,537.5000,1.074462e+06,2024.12.17 10:22
4,2024.12.17 10:19,VANA,KRW,sell,1.633896e+02,42470.00,6939154.0,3469.5700,6.935685e+06,2024.12.17 10:19
...,...,...,...,...,...,...,...,...,...,...
221,2024.07.16 14:43,USDT,KRW,buy,2.725378e+02,1399.00,381281.0,190.6400,3.814710e+05,2024.06.12 01:25
222,2024.06.27 00:59,BLAST,KRW,sell,2.000000e+02,29.79,5958.0,2.9700,5.955000e+03,2024.06.27 00:59
223,2024.06.26 19:06,BLAST,-,deposit,2.000000e+02,0.00,0.0,0.0000,2.000000e+02,-
224,2024.06.25 14:38,CHR,-,deposit,1.700000e+01,309.60,5263.0,0.0000,1.700000e+01,-
225,2024.06.20 22:16,APT,-,withdrawal,9.900000e+01,9746.00,964854.0,0.0054,9.900540e+01,-

In [279]:
def calculate_profits(df):
    # Group trades by symbol and side
    symbol_dfs = {}
    for symbol in df['symbol'].unique():
        symbol_data = df[df['symbol'] == symbol]
        
        # Create dict for this symbol if it doesn't exist
        if symbol not in symbol_dfs:
            symbol_dfs[symbol] = {}
        
        # Split by side (buy/sell)
        for side in ['buy', 'sell']:
            side_data = symbol_data[symbol_data['side'] == side]
            if not side_data.empty:
                symbol_dfs[symbol][side] = side_data

    # Calculate profits for each symbol
    profits = {}
    for symbol in symbol_dfs:
        if 'buy' in symbol_dfs[symbol] and 'sell' in symbol_dfs[symbol]:
            buy_data = symbol_dfs[symbol]['buy']
            sell_data = symbol_dfs[symbol]['sell']
            
            # Calculate total amounts
            buy_data['total_amount'] = buy_data['amount'].astype(float) * buy_data['price'].astype(float)
            sell_data['total_amount'] = sell_data['amount'].astype(float) * sell_data['price'].astype(float)
            
            # Calculate profit
            total_buy = float(buy_data['total_amount'].sum())
            total_sell = float(sell_data['total_amount'].sum())
            profits[symbol] = float(total_sell - total_buy)
            
    return symbol_dfs, profits
# Calculate profits for each symbol
symbol_dfs, profits = calculate_profits(upbit_df[upbit_df['side'].isin(['buy', 'sell'])])

# Add profits from sell-only symbols (deposits)
sell_only_symbols = set(upbit_df[upbit_df['side'] == 'sell']['symbol']) - set(profits.keys())
for symbol in sell_only_symbols:
    sell_data = upbit_df[(upbit_df['symbol'] == symbol) & (upbit_df['side'] == 'sell')]
    total_sell = float((sell_data['amount'].astype(float) * sell_data['price'].astype(float)).sum())
    profits[symbol] = total_sell

In [280]:
profits

{'META': 349529.0475123783,
 'USDT': -50529996.811598934,
 'AQT': 402535.5241727098,
 'AGLD': 1463467.67063647,
 'XRP': 4613636.640000001,
 'BONK': 12537165.470155312,
 'CHR': 6.477e-05,
 'INJ': 8928.0,
 'RENDER': 5694470.80696,
 'MOCA': 21370949.22335902,
 'BLAST': 5958.0,
 'BTC': 6695.85735,
 'UXLINK': 972246.0998879999,
 'ME': 84793577.8804703,
 'VANA': 31587564.8880275}

In [281]:
# Rename bithumb columns to match upbit format
bithumb_df = bithumb_df.rename(columns={
    '거래일시': 'time',
    '자산': 'symbol', 
    '거래구분': 'side',
    '거래수량': 'amount',
    '체결가격': 'price',
    '거래금액': 'total',
    '수수료': 'fee',
    '정산금액': 'settlement',
})

In [282]:
# Clean up side values
bithumb_df['side'] = bithumb_df['side'].map({
    '입금': 'deposit',
    '출금': 'withdrawal',
    '매수': 'buy', 
    '매도': 'sell'
})

bithumb_df

,time,symbol,side,amount,price,total,fee,settlement
2,2024-12-17 16:02:03,솔라나,NaN,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
3,2024-12-17 16:02:03,솔라나,NaN,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
4,2024-12-17 16:02:03,솔라나,NaN,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
5,2024-12-17 16:02:03,솔라나,NaN,0.00001000 SOL,-,0.00001000 SOL,- SOL,+0.00001000 SOL
6,2024-12-17 13:34:08,모카버스,sell,24.00000000 MOCA,218 KRW,"5,232 KRW",2.09 KRW,"+5,230 KRW"
...,...,...,...,...,...,...,...,...
674,2024-11-19 15:50:08,솔라나,NaN,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
675,2024-11-19 15:50:08,솔라나,NaN,0.00000010 SOL,-,0.00000010 SOL,- SOL,+0.00000010 SOL
676,2024-11-19 15:18:02,폰케,NaN,"8,989.00000000 PONKE",-,"8,989.00000000 PONKE",- PONKE,"+8,989.00000000 PONKE"
677,2024-11-19 01:10:49,포인트,NaN,547.00000000 P,-,547.00000000 P,- P,+547.00000000 P
678,2024-11-19 00:43:27,포인트,NaN,274.00000000 P,-,274.00000000 P,- P,+274.00000000 P

In [283]:
# Remove commas and extract numeric values from amount, price, total, fee, settlement columns
for col in ['amount', 'price', 'total', 'fee', 'settlement']:
    # Remove commas and currency symbols
    bithumb_df[col] = bithumb_df[col].astype(str).apply(lambda x: x.replace(',', ''))
    
    # Extract numeric values using regex
    bithumb_df[col] = bithumb_df[col].str.extract(r'([-+]?\d*\.?\d+)').astype(float)

In [284]:
# Split trades by symbol and side
symbol_dfs = {}

for symbol in bithumb_df['symbol'].unique():
    symbol_data = bithumb_df[bithumb_df['symbol'] == symbol]
    
    # Initialize dictionary for this symbol if it doesn't exist
    if symbol not in symbol_dfs:
        symbol_dfs[symbol] = {}
    
    # Split by side (buy/sell)
    for side in ['buy', 'sell']:
        side_data = symbol_data[symbol_data['side'] == side]
        if not side_data.empty:
            symbol_dfs[symbol][side] = {
                'total': side_data['total'],
                'amount': side_data['amount'],
                'price': side_data['price']
            }

# Calculate profits
def calculate_profit(symbol_data):
    profit = 0
    if 'sell' in symbol_data:
        sell_total = symbol_data['sell']['total'].sum()
        if 'buy' in symbol_data:
            buy_total = symbol_data['buy']['total'].sum()
            profit = sell_total - buy_total
        else:
            profit = sell_total
    return profit

# Print profits for each symbol
print("Profits by symbol:")
for symbol, data in symbol_dfs.items():
    profit = calculate_profit(data)
    if profit != 0:  # Only print if there was activity
        print(f"{symbol}: {profit:,.2f}")

Profits by symbol:
모카버스: 10,213,956.00
고트세우스 막시무스: 20,158,992.00
테더: -109,128,609.00
코인98: 3,351,097.00
오닉스코인: 2,091,598.00
재스미코인: -992,260.00
이더리움: 47,826.00
모포: -1,976,758.00
로아코어: -1,238,877.00
로닌: -4.00
스크롤: -12.00
엘리시아: 295,623.00
메티스다오: 7,142,869.00
퍼퍼: -1,964,805.00
스케일: 7,322.00
버추얼 프로토콜: 15,373.00
울트라: 2,732,937.00
스웰 네트워크: -1,985,245.00
카이아: 185,819.00
매직 에덴: 4,839,297.00
신퓨처스: -50.00
무브먼트: -46.00
비트코인: -2,998,435.00
바이코노미: 3,239.00
리스크: 4,394,802.00
레저메타: 5,485,450.00
톤코인: 10,207.00
비너스: 5,636,302.00
썬도그: -38.00
네이로: 4.00
엑스피알 네트워크: 6,420,061.00
오덜리 네트워크: -46.00
브렛: 3,449.00
폰케: 10,048,829.00
액세스프로토콜: 5,321.00
알트레이어: 16,890.00
바운스빗: -31.00
엠블: 9,062.00

In [285]:
# Rename bybit columns to match other exchanges
bybit_df = bybit_df.rename(columns={
    'Time': 'time',
    'Contract': 'symbol', 
    'Direction': 'side',
    'Quantity': 'amount',
    'Filled Price': 'price',
    'Cash Flow': 'total',
    'Fee Paid': 'fee'
})

# Convert side values to lowercase
bybit_df['side'] = bybit_df['side'].str.lower()

In [287]:
# Split bybit data by symbol and calculate profits
bybit_symbol_dfs = {}

# Group data by symbol
for symbol in bybit_df['symbol'].unique():
    symbol_data = bybit_df[bybit_df['symbol'] == symbol]
    bybit_symbol_dfs[symbol] = {}
    
    # Split into buy/sell sides
    for side in ['buy', 'sell']:
        side_data = symbol_data[symbol_data['side'] == side]
        if not side_data.empty:
            bybit_symbol_dfs[symbol][side] = {
                'total': side_data['total'],
                'amount': side_data['amount'], 
                'price': side_data['price']
            }

# Calculate and print profits for each symbol
print("\nBybit Profits by Symbol:")
for symbol, data in bybit_symbol_dfs.items():
    profit = calculate_profit(data)
    if profit != 0:  # Only print if there was activity
        print(f"{symbol}: {profit:,.2f}")

Bybit Profits by Symbol:
BTCUSDT: 27,967.25
WLDUSDT: -14,151.68
1000PEPEUSDT: -102.65
VIRTUALUSDT: -911.57
AEROUSDT: 0.05
BNBUSDT: 32,477.78
GOATUSDT: -17,155.61
VANAUSDT: -258.33
SUIUSDT: 14,430.32
USUALUSDT: 297.00
STXUSDT: 1,290.28
MOODENGUSDT: -242.31
MOCAUSDT: -78,853.22
BANUSDT: -25,867.97
USDCUSDT: -2.32
RONUSDT: -237.16
SCRUSDT: -865.58
ETHUSDT: 7,842.42
FUSDT: -1,751.40
MEUSDT: 9,736.34
ENSUSDT: 2,928.77
1000BONKUSDT: -6,652.55
MOVEUSDT: 34,165.50
XIONUSDT: 50,137.48
PNUTUSDT: -3,963.74
AGIUSDT: -5,425.38
ATHUSDT: 217.81
IOTXUSDT: -1,196.89
MAVIAUSDT: -35.73
OMGUSDT: -44.59
BONDUSDT: -28.78
KAIAUSDT: 81.63
ZRCUSDT: -173,105.85
USDEUSDT: 9.89
RENDERUSDT: 3,310.34
DOGEUSDT: -2,319.78
XRPUSDT: 2,025.42
ORDERUSDT: -16,112.69
CHILLGUYUSDT: 2,483.20
MAJORUSDT: 6.79
SKLUSDT: -2,765.65
MORPHOUSDT: 1,585.18
CATIUSDT: 608.37
THRUSTUSDT: -437.81
BBUSDT: -519.44
BICOUSDT: -243.34
PUFFERUSDT: -113.56
TONUSDT: 565.86
METISUSDT: -537.37
SOLUSDT: -0.70
PONKEUSDT: -3,438.33

In [288]:
# for symbol, data in bybit_symbol_dfs.items():
bybit_symbol_dfs.keys()

symbol = 'VANAUSDT'
data = bybit_symbol_dfs[symbol]
profit = calculate_profit(data)
if profit != 0:  # Only print if there was activity
    print(f"{symbol}: {profit:,.2f}")

VANAUSDT: -258.33

In [313]:
# Bybit 
if 'VANAUSDT' in bybit_symbol_dfs:
    bybit_profit = calculate_profit(bybit_symbol_dfs['VANAUSDT'])
    print(f"Bybit: {bybit_profit:,.2f} USDT")

# Upbit/Bithumb (KRW markets)
for df in [upbit_df, bithumb_df]:
    if 'VANA' in df['symbol'].unique():
        vana_data = df[df['symbol'] == 'VANA']
        buy_data = vana_data[vana_data['side'] == 'buy']
        sell_data = vana_data[vana_data['side'] == 'sell']
        
        if not (buy_data.empty and sell_data.empty):
            profit = sell_data['total'].sum() - buy_data['total'].sum()
            exchange = "Upbit" if df is upbit_df else "Bithumb"
            print(f"{exchange}: {profit:,.2f} KRW")


# Calculate buy/sell totals for VANA on Binance
vana_binance = binance_spot_df[binance_spot_df['symbol'] == 'VANA/USDT']
buy_total = vana_binance[vana_binance['side'] == 'buy']['total'].sum()
sell_total = vana_binance[vana_binance['side'] == 'sell']['total'].sum()

print(f"\nBinance VANA/USDT Totals:")
print(f"Buy Total: {buy_total:,.2f} USDT")
print(f"Sell Total: {sell_total:,.2f} USDT")
profit = sell_total - buy_total
print(f"Profit: {profit:,.2f} USDT")

# Calculate profit for VANAUSDT on Binance Futures
if 'VANAUSDT' in binance_future_df['symbol'].unique():
    vana_future = binance_future_df[binance_future_df['symbol'] == 'VANAUSDT']
    buy_total = vana_future[vana_future['side'] == 'BUY']['total'].sum()
    sell_total = vana_future[vana_future['side'] == 'SELL']['total'].sum()
    
    print(f"\nBinance Futures VANAUSDT Totals:")
    print(f"Buy Total: {buy_total:,.2f} USDT") 
    print(f"Sell Total: {sell_total:,.2f} USDT")
    future_profit = sell_total - buy_total
    print(f"Profit: {future_profit:,.2f} USDT")


tether_price = 1371
upbit_total_by_usdt = 31587339 / tether_price 
print("Upbit Total by Tether : ", upbit_total_by_usdt)
-258.33 + 31587339 / tether_price + -22141.59 + 3622.38

Bybit: -258.33 USDT
Upbit: 31,587,559.00 KRW

Binance VANA/USDT Totals:
Buy Total: 23,627.01 USDT
Sell Total: 1,485.43 USDT
Profit: -22,141.59 USDT

Binance Futures VANAUSDT Totals:
Buy Total: 48,594.65 USDT
Sell Total: 52,217.04 USDT
Profit: 3,622.38 USDT
Upbit Total by Tether :  23039.634573304156

4262.094573304154

In [341]:
# Get VANA/VANAUSDT profits across all dataframes
def get_symbol_profits(symbol):
    print(f"\n{symbol} Profits:")
    
    # Binance Spot
    spot_symbol = f"{symbol}/USDT"
    if spot_symbol in binance_spot_df['symbol'].unique():
        spot_data = binance_spot_df[binance_spot_df['symbol'] == spot_symbol]
        buy_total = spot_data[spot_data['side'] == 'buy']['total'].sum()
        sell_total = spot_data[spot_data['side'] == 'sell']['total'].sum()
        spot_profit = sell_total - buy_total
        print(f"Binance Spot: {spot_profit:,.2f} USDT")

    # Binance Futures
    future_symbol = f"{symbol}USDT"
    if future_symbol in binance_future_df['symbol'].unique():
        future_data = binance_future_df[binance_future_df['symbol'] == future_symbol]
        buy_total = future_data[future_data['side'] == 'BUY']['total'].sum()
        sell_total = future_data[future_data['side'] == 'SELL']['total'].sum()
        future_profit = sell_total - buy_total
        print(f"Binance Futures: {future_profit:,.2f} USDT")

    # Bybit
    if future_symbol in bybit_symbol_dfs:
        bybit_profit = calculate_profit(bybit_symbol_dfs[future_symbol])
        print(f"Bybit: {bybit_profit:,.2f} USDT")

    # Upbit/Bithumb (KRW markets)
    for df in [upbit_df, bithumb_df]:
        if symbol in df['symbol'].unique():
            symbol_data = df[df['symbol'] == symbol]
            buy_data = symbol_data[symbol_data['side'] == 'buy']
            sell_data = symbol_data[symbol_data['side'] == 'sell']
            
            if not (buy_data.empty and sell_data.empty):
                profit = sell_data['total'].sum() - buy_data['total'].sum()
                exchange = "Upbit" if df is upbit_df else "Bithumb"
                print(f"{exchange}: {profit:,.2f} KRW")

# Example usage for VANA
get_symbol_profits('GOAT')

GOAT Profits:
Bybit: -17,155.61 USDT
Bithumb: 20,158,992.00 KRW

In [346]:
# Filter bybit data for last 2 weeks
from datetime import datetime, timedelta

# Get current time
now = datetime.now()
two_weeks_ago = now - timedelta(weeks=1)

# Convert bybit_df time column to datetime if needed
bybit_df['time'] = pd.to_datetime(bybit_df['time'])

# Filter for last 2 weeks
bybit_df = bybit_df[bybit_df['time'] >= two_weeks_ago]

In [359]:
bybit_goat = bybit_df[bybit_df['symbol'].fillna("").apply(lambda x: "GOAT" in x)]
bybit_goat[bybit_goat['Currency'] == "USDT"]['Change'].sum()

np.float64(-13885.886880020002)

In [360]:
tether_price = 1371
total_by_usdt = 20158992.00  / tether_price 
print("Total by Tether : ", total_by_usdt)
-13886  + total_by_usdt

Total by Tether :  14703.859956236323

817.8599562363233

In [324]:
bithumb_df['symbol'].unique()

# Map Korean crypto names to English tickers
korean_to_eng = {
    '솔라나': 'SOL',
    '모카버스': 'MOCA', 
    '고트세우스 막시무스': 'GOAT',
    '아스타': 'ASTA',
    '테더': 'USDT',
    '원화': 'KRW',
    '포인트': 'POINT',
    '미버스': 'ME',
    '오아시스': 'ROSE',
    '코인98': 'C98',
    '오닉스코인': 'ONX',
    '재스미코인': 'JASMY',
    '이더리움': 'ETH',
    '모포': 'MOPO',
    '매버릭 프로토콜': 'MAV',
    '로아코어': 'ROA',
    '로닌': 'RON',
    '스크롤': 'SCROLL',
    '엘리시아': 'ELYS',
    '메티스다오': 'METIS',
    '헤데라': 'HBAR',
    '펑션엑스': 'FX',
    '크라토스': 'KRATOS',
    '펜들': 'PENDLE',
    '퍼퍼': 'PEPE',
    '스케일': 'SCALE',
    '버추얼 프로토콜': 'VRP',
    '울트라': 'UOS',
    '스웰 네트워크': 'SWELL',
    '카이아': 'KAI',
    '매직 에덴': 'EDEN',
    '신퓨처스': 'SNF',
    '무브먼트': 'MOVN',
    '비트코인': 'BTC',
    '바이코노미': 'BYC',
    '리스크': 'RISK',
    '레저메타': 'LM',
    '톤코인': 'TON',
    '비너스': 'XVS',
    '썬도그': 'SDOG',
    '네이로': 'NEIRO',
    '엑스피알 네트워크': 'XRP',
    '오덜리 네트워크': 'ODLY',
    '크웬타': 'QRDO',
    '브렛': 'BRET',
    '폰케': 'PONKE',
    '액세스프로토콜': 'ACS',
    '알트레이어': 'ALTR',
    '바운스빗': 'BOUNCE',
    '엠블': 'MVL'
}

# Replace Korean names with English tickers
bithumb_df['symbol'] = bithumb_df['symbol'].map(korean_to_eng)

In [325]:
bithumb_df

,time,symbol,side,amount,price,total,fee,settlement
2,2024-12-17 16:02:03,SOL,NaN,1.000000e-07,NaN,1.000000e-07,NaN,1.000000e-07
3,2024-12-17 16:02:03,SOL,NaN,1.000000e-07,NaN,1.000000e-07,NaN,1.000000e-07
4,2024-12-17 16:02:03,SOL,NaN,1.000000e-07,NaN,1.000000e-07,NaN,1.000000e-07
5,2024-12-17 16:02:03,SOL,NaN,1.000000e-05,NaN,1.000000e-05,NaN,1.000000e-05
6,2024-12-17 13:34:08,MOCA,sell,2.400000e+01,218.0,5.232000e+03,2.09,5.230000e+03
...,...,...,...,...,...,...,...,...
674,2024-11-19 15:50:08,SOL,NaN,1.000000e-07,NaN,1.000000e-07,NaN,1.000000e-07
675,2024-11-19 15:50:08,SOL,NaN,1.000000e-07,NaN,1.000000e-07,NaN,1.000000e-07
676,2024-11-19 15:18:02,PONKE,NaN,8.989000e+03,NaN,8.989000e+03,NaN,8.989000e+03
677,2024-11-19 01:10:49,POINT,NaN,5.470000e+02,NaN,5.470000e+02,NaN,5.470000e+02
678,2024-11-19 00:43:27,POINT,NaN,2.740000e+02,NaN,2.740000e+02,NaN,2.740000e+02

In [303]:
def calculate_profit(symbol_data):
    profit = 0
    if 'sell' in symbol_data:
        sell_total = symbol_data['sell']['total'].sum()
        if 'buy' in symbol_data:
            buy_total = symbol_data['buy']['total'].sum()
            profit = sell_total - buy_total
        else:
            profit = sell_total
    return profit

Binance VANA/USDT Totals:
Buy Total: 23,627.01 USDT
Sell Total: 1,485.43 USDT
Profit: -22,141.59 USDT

Binance Futures VANAUSDT Totals:
Buy Total: 48,594.65 USDT
Sell Total: 52,217.04 USDT
Profit: 3,622.38 USDT

In [292]:
symbol_dfs['VANAUSDT']['buy']['amount'].sum() - symbol_dfs['VANAUSDT']['sell']['amount'].sum()

KeyError: 'VANAUSDT'

In [293]:
def

SyntaxError: invalid syntax (1885169875.py, line 1)